# Copia este archivo como .env y completa los valores

# Django
DJANGO_SECRET_KEY=cambia-esto-en-produccion
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,users

# Base de datos Railway (usar la URL pública para desarrollo local)
# DATABASE_URL=postgresql://postgres:<PASSWORD>@maglev.proxy.rlwy.net:<PORT>/railway

# JWT
JWT_SECRET_KEY=cambia-esto-en-produccion
JWT_ACCESS_TOKEN_EXPIRE_HOURS=1
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
